/////////style//////
body {
    background: radial-gradient(circle, rgba(179,180,185,0.896796218487395) 0%, rgba(146,156,168,0.8799894957983193) 51%, rgba(135,190,116,0.4290091036414566) 100%);
    color: aliceblue;
}
.header {
    background-color:rgba(228, 146, 38, 0.705);
}
.header__main {    
    height: 85px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    color: black;
    .logo { 
        width: 100%;
        display: grid;
        justify-items: start;
        .logo__wrapper {
            display: grid;
            place-items: center;
            .logo__image {
                width: 50px;
                height: 50px;
            }
        }        
    }
    nav {
        width: 100%;
        display: grid;
        justify-items: end;
        .contact {
            cursor: pointer;
        }
    }
}
.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}
.container {
    width: 1250px;
    height: 100%;
    margin: 0 auto; 
    padding: 0 25px;
    flex: 1 1 auto;
}
.heading {
    text-align: center;
    font-size: 40px;
}
.control {
    position: relative;    
    display: grid;
    grid-template-columns: 25% 1fr;
    .control__info{
        .control__info-heading {
            font-size: 26px;
            margin-bottom: 15px;
        }
        ul {
            margin-bottom: 50px;
            li {
                margin-bottom: 5px;
            }
        }
        .control__info-button-container {
            .control__info-button {            
                width: 100px;
                height: 50px;
                border: 1px solid black;
                background-color: rgba(136, 127, 255, 0.301);
                border-radius: 5px;
                display: grid;
                place-items: center;
                margin-bottom: 50px;
                display: grid;
    
                &:hover {
                    background-color: black;
                }
                a {
                    text-align: center;
                }
            }
        }
        
        .setData {
            .setData__dialog {
                .setData__dialog-content {
                    padding-right: 50px;                                   
                    form {
                        border-radius: 7px;
                        padding: 15px 0 15px 15px;
                        background-color: #47aa5d;
                        border: 1px solid #fff;
                        color: black;
                        text-align: center;
                        .modal__title {
                            margin-bottom: 10px;
                            font-size: 18px;                            
                        }
                        input {
                            margin-bottom: 10px;
                            text-align: center;                            
                        }
                        .btn {
                            padding: 5px;
                            border: 1px solid black;
                            border-radius: 7px;
                            background-color: #d1d8d2;
                        }
                    }
                }
            }
        }
    } 
    .control__graphics {
        img {
            width: 100%;
        }
    }
    .modal {
        padding: 8px;
        position: absolute;
        top: 0;
        right: 0;
    }
    
}

.footer {
    display: grid;
    place-items: center;
    min-height: 50px;
    background-color:rgba(228, 146, 38, 0.705);
    .footer__content {
        .footer__text {
            text-align: center;
            color: black;
        }
    }
}



.active {
    cursor: pointer;
}
.hidden {
    display: none;
}
.show {
    display: block;
}